@font-face {
    font-family: SourceSansPro-Bold;
    src: url(assets/fonts/SourceSansPro-Bold.ttf) format("truetype");
  }
  @font-face {
    font-family: 'SourceSansPro-Regular';
    src: url(assets/fonts/SourceSansPro-Regular.ttf) format("truetype");
  }
  @font-face {
    font-family: 'SourceSansPro-SemiBold';
    src: url(assets/fonts/SourceSansPro-SemiBold.ttf) format("truetype");
  }
  